body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.outer{
    background-color: cadetblue;
    border: 2px solid black;
    width: 200px;
}
.innerImg{
    border: 2px solid black;
}
.innerText{
    border: 2px solid black;
}
.image{
    width: 100%;
}